@model MyExams.Models.DisplayClassTeacherViewModel
@{
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}
@section AddToHead{
    <link href="@Url.Content("~/Content/ClassViewCSS.css")" rel="stylesheet" type="text/css" />
}

<ul class="nav nav-pills nav-fill" style="background: white">
    <li class="nav-item">
        <a id="lastExams-link" class="nav-link active" href="#" data-bind="click: GetLastExams">Последни тестове</a>
    </li>
    <li class="nav-item">
        <a id="marks-link" class="nav-link" href="#" data-bind="click: GetStudents">Ученици и оценки</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Справки</a>
    </li>

</ul>
<div class="card bg-dark text-white">
    <img class="card-img" src="~/Content/images/cool-background.jpg" alt="Card image">
    <div class="card-img-overlay">
        <h1 class="card-title">@Model.ClassName</h1>
        <p class="card-text">@Model.Subject</p>

        <div class="card-left">
            <small>Уникален код:</small>
            <h5><strong>@Model.UniqueCode</strong></h5>
        </div>
        <div class="card-right">
            <ul>
                <li>Брой ученици: @Model.StudentsCount</li>
                <li>Среднен успех: @Model.AverageMark</li>
            </ul>
        </div>

    </div>
</div>
<div id="lastExams" style="display:none;">
    <div class="card-deck" style="max-width: 70rem;margin: 0 auto;">
        <div class="card ">
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
</div>

<div id="marks" style="display:none; background:white;">
        <div class="row justify-content-end mr-lg-2">
            <div class="col-lg-3">
                <button class="btn btn-success max-w-lg-200 float-right" data-toggle="modal" data-target="#addStudent">+ Добавяне на ученик</button>
            </div>
        </div>
    <table class="table table-striped">
        <thead >
            <tr>
                <th>Номер в класа</th>
                <th>Име</th>
                <th>Фамилия</th>
                <!-- ko foreach: tests -->
                <th data-bind="text: title"></th>
                <!-- /ko -->
            </tr>
        </thead>
        <tbody data-bind="foreach: students">
            <tr>
                <th scope="row" data-bind="text: noInClass">1</th>
                <td data-bind="text: firstName"></td>
                <td data-bind="text: lastName"></td>
                <!-- ko foreach: marks -->
                <td data-bind="foreach: $data">
                    <button class="btn badge badge-primary"style="font-size:13px" data-bind="click: $root.gotoUrl"><span data-bind="text: percentage"></span>% (<span data-bind="text: mark"></span>)</button>
                </td>
                <!-- /ko -->
            </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="addStudent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Добавяне на ученик</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <div class="modal-body">

                <div class="form-group row">
                    <div class="col-sm-10">
                        <input class="form-control" placeholder="Номер в класа" type="text" value="" data-bind="value: $root.studentNo">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <input class="form-control" placeholder="Име" type="text" value="" data-bind="value: $root.studentFirstName">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <input class="form-control" placeholder="Фамилия" type="text" value="" data-bind="value: $root.studentLastName">
                    </div>
                </div>
                <div class="alert alert-danger" role="alert" data-bind="visible: $root.ifAlert, text: $root.alertText">
                    This is a danger alert—check it out!
                </div>
            </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Затвори</button>
                        <button type="submit" class="btn btn-primary" data-bind="click: $root.NewStudent">Създай</button>
                    </div>

        </div>
    </div>
</div>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}


<script> 
    var classColor = "@Model.ClassColor";
    var classCode = "@Model.UniqueCode"
    function applyDesign(view) {
    if(view == "lastExams"){
             $("#lastExams").css("display", "block");
              $("#marks").css("display", "none");
               $("#marks-link").removeClass("active");
              $("#lastExams-link").addClass("active");
             
        }else if(view == "marks"){
          $("#lastExams").css("display", "none");
              $("#marks").css("display", "block");
               $("#marks-link").addClass("active");
              $("#lastExams-link").removeClass("active");
        }  

        $(".card-img-overlay").css("background", classColor);
        
        $(".nav-pills a.nav-link").css("color", classColor);
        $(".nav-pills a.nav-link").css("background", "white");
        $(".nav-pills .nav-link.active").css("background-color", classColor);
        $(".nav-pills a.nav-link.active").css("color", "white");
        
    }

</script>
<script src="@Url.Content("~/Scripts/app/teacher/classViewModel.js")" type="text/javascript" ></script>